[Settings]
ShowAllProcesses=FALSE
MorePrecision=FALSE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=LARGE
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=TRUE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=5
SortType=1
WindowWidth=1230
WindowHeight=704
HandlePosition=100
ProcessTreeView=TRUE
