[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tehftw/Desktop/Buying_855d9a_6302681.jpg]
row=8
col=0

[/home/tehftw/Desktop/buTUgdUGdYGbhbO_vh-4PU9Y7fzLxVbRrBNHIwE0pWE.jpg]
row=0
col=1

[/home/tehftw/Desktop/beot.jpg]
row=1
col=1

[/home/tehftw/Desktop/bvy9iylp4ro11.jpg]
row=7
col=0

[/home/tehftw/Desktop/zdjecia-matki]
row=3
col=8

[/home/tehftw/Desktop/gorek.jpg]
row=5
col=0

[/home/tehftw/Desktop/c1oi89x0nar11.jpg]
row=6
col=0

[/home/tehftw/Desktop/pronc]
row=9
col=0

[/home/tehftw/Desktop/NumixHolo]
row=6
col=9

[/home/tehftw/Desktop/H9M3h0m.png]
row=3
col=0

[/home/tehftw/Desktop/Heroes of Might and Magic 3 Complete.desktop]
row=2
col=1

[/home/tehftw/Desktop/h86jqslw5en11.jpg]
row=4
col=0

[/home/tehftw/Desktop/hcn6qijyxfd11.png]
row=2
col=0

[/home/tehftw/Desktop/oneko.c]
row=3
col=1

[/home/tehftw/Desktop/heatmap_2x.png]
row=1
col=0

[Trash]
row=4
col=9

[/]
row=5
col=9

[/home/tehftw]
row=0
col=0

