[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tehftw/Desktop/rayman arena.desktop]
row=0
col=7

[6CC8E00E3E779639]
row=0
col=0

[3C89-0CBA]
row=6
col=0

[F474B7AA74B76DCC]
row=7
col=0

[06ecf829-afdd-4f61-be6d-d8c420c4725c]
row=5
col=0

[AEF6AE5BF6AE2395]
row=4
col=0

[42C6EAD8C6EACB6D]
row=2
col=0

[5A7F-1F60]
row=1
col=0

[Trash]
row=3
col=0

